[submodule "python/pyenv"]
	path = python/pyenv
	url = https://github.com/pyenv/pyenv
[submodule "python/pyenv-virtualenv"]
	path = python/pyenv-virtualenv
	url = https://github.com/pyenv/pyenv-virtualenv
