plugins {
    tab-bar { path "tab-bar"; }
    status-bar { path "status-bar"; }
    strider { path "strider"; }
    compact-bar { path "compact-bar"; }
}

simplified_ui false

default_layout "compact"

default_mode "locked"

default_shell "zsh -l"

